<h1><%= @workspace_vendors.name %></h1>
<br/>
<%= @workspace_vendors.description %>
<br/>
<%= @vendor_transactions.description %>
<br/>
<%= @vendor_transactions.amount_in_cents %>
<br/>
<%= @vendor_transactions.transaction_date %>

